*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.run.xml
*.bbl
*.blg
*blx.bib
*.bcf
*.dvi
.classpath
.project
.settings
.factorypath
*.exe
blatt*.pdf
document*.pdf
*.class
**/_minted*
~$*.xlsx
**/*riscVividFile.cfg
**/*riscVivivFile.bin
.venv
.idea
**/build
**/*.pyd
Mandelbrot.png
**/__pycache__/*
*.tmp